.track{
    background-color: $color3;
    width: 90%;
    // height: 3rem;
    margin-bottom: 1rem;
    color: aliceblue;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    &-name{
        margin-bottom: .3rem;
    }
    & audio{
        height: 2rem;
        &::-webkit-media-controls-panel{
            background-color: aliceblue;
        }
    }

    &-link{
        display: block;
        @include cube(2rem);
        
        @extend %bgs;
        background-image: url("../assets/youtube.png");
        transition: background-image .6s ease;
        
        &:hover{
            
            background-image: url("../assets/youtubeB.png");
        }
    }
}

@media screen and (max-width: 600px){
    .track{
        & audio{
            width: 100%;
        }
    }
}
